.category {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results {
  display: flex;
}

.inputSearch {
  width: 300px;
}

.listProducts {
  display: flex;
  flex-direction: column;
}
