.category {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  gap: 20px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputSearch {
  width: 300px;
}

.listProducts {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.reviewList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*
.estrelas input[ type = 'radio' ] {
  display: none;
}

.estrelas label i.fa:before {
  color: #fc0;
  content: '\f005';
}

.estrelas input[ type = 'radio' ]:checked ~ label i.fa:before {
  color: #ccc;
} */
