body {
  background-color: rgb(175, 175, 175);
  margin: 10px;
}

.home {
  gap: 100px;
}

.header {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputSearch {
  height: 20px;
  width: 500px;
}

.btnSearch {
  height: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryRadio {
  background-color: rgb(138, 132, 132);
  border-radius: 10px;
}

.search {
  display: flex;
  gap: 200px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}


.listProducts {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.reviewList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*
.estrelas input[ type = 'radio' ] {
  display: none;
}

.estrelas label i.fa:before {
  color: #fc0;
  content: '\f005';
}

.estrelas input[ type = 'radio' ]:checked ~ label i.fa:before {
  color: #ccc;
} */

/* .cartButton {
  background-image: url('../images/icons8-favorite-cart-100.png');
  width: 100px;
} */
